h1{
	color:blue;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

p{background-color: red;
  padding:10px;
  border-width: 1px;
  border-color: #cccccc;
  border-radius: 3px;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
 }

 ul{
 	list-style: none;
 }

 ul a {
 	text-decoration: none;
 }

